:root {
  --color: #ffffff;
}

::-moz-selection {
  color: #ffffff;
  background: var(--color);
}

::selection {
  color: #ffffff;
  background: var(--color);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 320px;
  background-color: var(--color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
}

.form-wrapper {
  max-width: 220px;
  position: relative;
}

.form {
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 67px;
  background-color: rgba(0, 0, 0, 0.15);

  span {
    color: #ffffff;
    cursor: text;
  }
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 20px;
  outline: none;
  border-radius: 0%;
  color: #121212;
  font-size: inherit;
  text-align: center;
  letter-spacing: 0.2em;
  border: 1px solid #616161;
  background-color: #ffffff;
}

.input::placeholder {
  color: #ababab;
}

.copy-btn {
  position: absolute;
  bottom: -40px;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
  background-color: transparent;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
}

.copy-btn:focus-visible {
  color: var(--color);
}

.credit {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.credit__link {
  color: #ffffff;
  text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}